doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p
      span(class='linkSpace')
        a(href='/') Home
      span(class='linkSpace')
        a(href='/longform') View Longform
      span(class='linkSpace')
        a(href='/refresh/') Refresh Data
    block content